@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@400;500;700&family=Prata&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@400;500;700&family=Prata&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
.icon-sizing{
    /* width: 100%!important; */
    font-size: 7rem;
    border: 7px solid white;
    border-radius: 50%;
    color: white;
}
.membership{
    font-family: roboto Mono;
    color: white;
    font-size: 2rem;
}
.person-size{
    margin: 2rem 0 0 0;
}
body{
    margin: 0;
    background-image: url(images/login\ option-1.jpg);
}
/* .icon-size{
    color: white;
    border-radius: 50%;
    font-size: 2rem;
    padding-right: 10px;
    /* border: 1px solid white;
}*/
section{
    width: 100%;
}
.container{
    width: 50%;
    margin: auto;
    text-align: center;
}
.div-dif{
    border: 2px solid #ffffff;
    border-radius: 20px;
    width: 50%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
   color: white;
    padding: 0 15px;
}
.paul{
    opacity: 0;
}
.btn-1{
    width: 36%;
    border-radius: 3rem;
    padding: 1.1rem;
    background-color: #F9C04C;
    font-family: roboto mono;
    font-size: 1.2rem;
}
.number{
    color: white;
    margin-bottom: 5px;
    font-family: kanit;
    font-size: 1.2rem;
    font-weight: lighter;
}
.btn-2{
    width: 30%;
    border-radius: 3rem;
    padding: 0.7rem;
    color: white;
    border-color: white;
    background-color: inherit;
    font-family: roboto mono;
    font-size: 1.2rem;
}
.btn-1:hover{
    background-color: #efa30b;
    transition: 0.5s;
    cursor: pointer;
}
.btn-2:hover{
    cursor: pointer;
}
.input-text{
    width: 50%;
    /* text-align: center; */
    padding: 1.1rem;
    margin: 0 3rem 0 0;
    color: white;
    font-family: roboto mono;
    background-color: inherit;
    font-size: 1rem;
    font-size: 1rem;
    font-weight: bold;
    /* border-radius: 6px; */
    border: none;
    outline: none;
}
.testing{
    display: inline;
    color: white;
    font-family: roboto mono;
    margin: 0 0 2rem 0;

}
u{
    padding-left: 20px;
    color: white;
}
.distance{
    padding: 1rem 0 1rem 0;
    /* margin: 0 0 0 2rem; */
}
@media(max-width: 800px) {
    .icon-sizing{
        font-size: 3rem;
    }
    .icon-size{
        font-size: 1.5rem;
    }
    .icon-sizing:hover{
        background-color: blue;
        transition: 1s ;
    }
    .membership{
        font-family: roboto Mono;
        color: white;
        font-size: 1rem;
        margin-bottom: 40px;
    }
    .container{
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .input-text{
        border-radius: 5px;
        padding: .8rem;
        font-size: .7rem;
    }
    .testing{
        font-size: .9rem;
    }
    .btn-1{
        width: 26%;
        font-size: 1rem;
        padding: .8rem;
    }
    .btn-2{
        padding: .1rem;
        font-size: 1.1rem;
    }
    .number{
        margin-bottom: 20px;
    }
}